* {
  box-sizing: border-box;
}

html {
  background-color: #feffff;;
}

.container {
  max-width: 90%;
  margin: 30px auto 0;
  font-size: 18px;
}

.movieList-title {
  text-align: center;
  margin: 40px 0;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 1px;
}

.sort-btn {
  margin-right: 20px;
  padding: 10px;
  background-color: #def9ff;
  border: 1px solid white;
  transition: background-color 0.3s;
  cursor: pointer;
  &:hover {
    background-color: #a6dde9;
  }
}

.search-input {
  width: 200px;
  height: 26px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
  margin-bottom: 10px;
}
